//Media Query Manager

// 0 - 600px:      Phone
// 600 - 900:      Tablet Portrait
// 900 - 1200:     Tablet Landscape
// 1200 - 1800:    Normal Styles
// 1800 + :        Big Desktop

// $breakpoint arguements:
// - phone
// - tab-port
// - tab-land
// - big-desktop

//@include respond(phone) {
// font-size: 50%;
// }

//1em = 16px

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; // 900px
    } 
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; // 1200px
    } 
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; //1800px
    } 
}


@mixin pageStyles($page) {
    @if $page == Home {
        .homeContainer {
            background: white;
            color: black;
            .navRight {
                a {
                font-family: 'Ewert', cursive;
                }
            }
        }
    }

    @if $page == RickAndMorty {
        .Rick {
            color: white;
            .navLeft {
                color: white;
                font-family: 'Kaushan Script', cursive;
                span:hover {
                    color: #7344D3;
                }
            }
            .navRight {
                a {
                color: white;
                font-family: 'Kaushan Script', cursive;
                }
                a:hover {
                    color: #7344D3;
                }
            }
        }
        .RickContainer {
            top: 0;
            z-index: -1;
            background: linear-gradient(to bottom, rgba(252,110,251,0.8) 50%, rgb(255,255,255));

            .footer:hover {
                color: #7344D3;
            }
        }
    }

    @if $page == Remedi {
        .Remedi {
            .navLeft {
                color: darkgreen;
                font-family: 'Arvo', cursive;
                span:hover {
                    color: white;
                }
            }
            .navRight {
                a {
                    color: darkgreen;
                    font-family: 'Arvo', cursive;
                }
                a:hover {
                    color: white;
                }
            }
        }
        .RemediContainer {
            top: 0;
            z-index: -1;
            background: linear-gradient(to bottom, rgba(245,222,179, 1) 30%, rgb(255,255,255));
        }
    }
    @if $page == Portfolio {
        .Portfolio {
            .navLeft {
                color: blue;
                font-family: 'Bungee Shade', cursive;

                span:hover {
                    color: red;
                }
            }
            .navRight {
                a {
                    color: red;
                    font-family: 'Bungee Shade', cursive;
                }
                a:hover {
                    color: blue;
                }
            }
        }
        .PortfolioContainer {
            top: 0;
            z-index: -1;
            background: linear-gradient(to bottom, rgba(245,222,179, 1) 30%, rgb(255,255,255));
        }
    }
}
