.Portfolio {    
    height: 100vh;
    width: 100vw;
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
}

.PortfolioContainer {
    position: absolute;
    animation: enter 3s linear;

    .PortfolioHeader {
        margin-top: 50px;
        text-align: center;
    }

    .portfolioHome {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .homeText {
            margin-bottom: -50px;
            font-size: 28px;
        }
    }
}