.ahrcContainer {
  color: white; }

.D17Container {
  color: white; }

.homeContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: white;
  font-size: 5rem; }

.projectsContainer {
  position: absolute;
  top: 25%;
  width: 100vw;
  animation: enter 2s linear; }

.homeImage {
  width: 100vw; }

.Rick {
  position: relative;
  height: 100vh;
  width: 100vw; }

.RickContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: enter 3s linear;
  width: 100%; }
  .RickContainer .RickHeader {
    position: absolute;
    font-family: 'Kaushan Script', cursive;
    top: 10rem;
    font-size: 2rem;
    animation: textEnter 2s; }
  .RickContainer .rickHeaderPic {
    margin-top: 15rem;
    height: 50vh;
    width: 85vw;
    animation: pictureEnter 1.5s; }
  .RickContainer .wireframesImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    margin: 10rem 0;
    width: 100%; }
  .RickContainer .wireframesText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    width: 300px;
    line-height: 35px; }
  .RickContainer .videoRick {
    width: 90%; }

.footer {
  height: 10vh;
  width: 100vw;
  padding: 2.5rem 0;
  font-size: 5rem;
  font-family: 'Kaushan Script', cursive; }

.Remedi {
  height: 100vh;
  width: 100vw;
  color: darkgreen;
  font-family: 'Arvo', cursive;
  font-weight: bold; }

.RemediContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: enter 3s linear;
  width: 100%; }
  .RemediContainer .RemediHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; }
    .RemediContainer .RemediHeaderContainer .RemediHeader {
      position: relative;
      top: 10rem;
      text-align: center;
      font-size: 2.5rem;
      animation: textEnter 2s; }
    .RemediContainer .RemediHeaderContainer .RemediImage {
      margin-top: 15rem;
      animation: pictureEnter 1.5s; }
  .RemediContainer p {
    text-align: center;
    line-height: 30px;
    margin: 25px 0; }

.RemediMiddle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  margin-top: 10rem; }

.soloText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  line-height: 50px !important; }

.designers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; }

.footer {
  font-family: 'Kaushan Script', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 5rem;
  width: 100vw; }

.Portfolio {
  height: 100vh;
  width: 100vw;
  font-family: 'Bungee Shade', cursive;
  font-weight: bold; }

.PortfolioContainer {
  position: absolute;
  animation: enter 3s linear; }
  .PortfolioContainer .PortfolioHeader {
    margin-top: 50px;
    text-align: center; }
  .PortfolioContainer .portfolioHome {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .PortfolioContainer .portfolioHome .homeText {
      margin-bottom: -50px;
      font-size: 28px; }

@keyframes logoSpin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes enter {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes textEnter {
  from {
    top: -5rem;
    opacity: 0; }
  to {
    top: 10rem;
    opacity: 1; } }

@keyframes pictureEnter {
  from {
    margin-top: 35rem;
    opacity: 0; }
  to {
    margin-top: 15rem;
    opacity: 1; } }

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 15vh;
  font-size: 2rem; }

.navLeft {
  position: absolute;
  top: 4vh;
  left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
  color: black;
  font-family: 'Ewert', cursive; }

.navRight {
  position: absolute;
  top: 4vh;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30vw; }

.logoSpin {
  animation: logoSpin 2s infinite linear;
  -webkit-animation: logoSpin 2s infinite linear; }

/* unvisited link */
a {
  text-decoration: none; }

a:link, a:visited {
  color: black; }

/* visited link */
/* mouse over link */
/* selected link */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }
  html .homeContainer {
    background: white;
    color: black; }
    html .homeContainer .navRight a {
      font-family: 'Ewert', cursive; }
  html .Rick {
    color: white; }
    html .Rick .navLeft {
      color: white;
      font-family: 'Kaushan Script', cursive; }
      html .Rick .navLeft span:hover {
        color: #7344D3; }
    html .Rick .navRight a {
      color: white;
      font-family: 'Kaushan Script', cursive; }
    html .Rick .navRight a:hover {
      color: #7344D3; }
  html .RickContainer {
    top: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(252, 110, 251, 0.8) 50%, white); }
    html .RickContainer .footer:hover {
      color: #7344D3; }
  html .Remedi .navLeft {
    color: darkgreen;
    font-family: 'Arvo', cursive; }
    html .Remedi .navLeft span:hover {
      color: white; }
  html .Remedi .navRight a {
    color: darkgreen;
    font-family: 'Arvo', cursive; }
  html .Remedi .navRight a:hover {
    color: white; }
  html .RemediContainer {
    top: 0;
    z-index: -1;
    background: linear-gradient(to bottom, wheat 30%, white); }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (max-width: 75em) {
    html {
      font-size: 70%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 60%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 100%; } }

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.fade-appear, .fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-appear-active, .fade-enter.fade-enter-active {
  opacity: 1;
  transform: rotateY(0deg);
  transition: all 625ms linear 625ms; }

.fade-exit {
  opacity: 1;
  z-index: 0; }

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: all 1000ms linear; }
